.featured_destination_section{
    /* Featured Destination Section */
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 107px 140px;

width: 1440px;
height: 352px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}

.featured_image_container{
    /* Featured Image Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 40px 0px 0px;
gap: 10px;

width: 380px;
height: 338px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
}

.featured_destination_blurb{
    /* Featured Destination Blurb */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 30px;
gap: 24px;

width: 580px;
height: 292px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
}

.featured_destination_copywriting{
    /* Featured Destination Copywriting */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 520px;
height: 172px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.featured_text_category{
    /* Featured Destination Category */

width: 520px;
height: 21px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */
letter-spacing: 0.06em;
text-transform: uppercase;

color: #8A53FF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.featured_text_title{
    /* Featured destination Title */

width: 520px;
height: 36px;

font-family: 'Changa One';
font-style: normal;
font-weight: 400;
font-size: 39px;
line-height: 36px;
/* identical to box height, or 92% */

color: #434343;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.featured_text_description{
    /* Featured Destination description */

width: 520px;
height: 99px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 33px;
/* or 183% */

color: #434343;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}

#featured_destination{
    /* Featured Destination CTA */

width: 143.77px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.featured_destination_text{
    /* Watch Now */

position: absolute;
margin-left: 50px;
margin-top: -35px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 36px;
/* identical to box height, or 225% */

color: #8A53FF;
}