.share_travels_section{
    /* Share Your Travels Section */

width: 1440px;
height: 900px;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;

background-image: url(Images/Background/Share_travels_background_image.jpg);
}

.share_travels_form{
    /* Share your travels form */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;

gap: 30px;

position: absolute;
width: 657px;
height: 758px;
left: 391.5px;
top: 1917.03px;
}

.form_head{
    /* Form Header */

/* Auto layout */
margin-top: 18%;

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 15px;

width: 617px;
height: 76px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.form_title{
/* Form Title */

width: 617px;
height: 40px;

font-family: 'Changa One';
font-style: normal;
font-weight: 400;
font-size: 39px;
line-height: 40px;
/* identical to box height, or 103% */
text-align: center;

color: #434343;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.form_title_subtext{
    /* Form Title Subtext */

width: 617px;
height: 21px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #8A53FF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.share_section_form{
    /* Form */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 28px 30px;
gap: 17px;

width: 88%;
height: 560px;

background: #FFFFFF;
box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.03);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.form_submit_button{
    /* Form Submit Button */

width: 222px;
height: 46px;

background: #8A53FF;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
}

.submit_text{
    /* Submit */

margin-left: 9.52px;
margin-right: 9.35px;
margin-top: 13.5px;
margin-bottom: 13.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;

color: #FFFFFF;
}

.form_head_text{
    /* Form Text */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 557px;
height: 110px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.form_fields{
    /* Form Fields */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 557px;
height: 366px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.form_share_title{
    /* Share your travels */

width: 557px;
height: 36px;

font-family: 'Changa One';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #434343;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.form_shate_subtext{
    /* Suggest a new travel destination that you want to see and we will feature it in our blog. */

width: 557px;
height: 68px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 34px;
/* or 189% */

color: #576074;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.form_input_container{
    /* Destination Name Input */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 3px;

width: 557px;
height: 56px;


/* Inside auto layout */
flex: none;
align-self: stretch;
flex-grow: 0;
}

#form_input_big{
    height: 102px;
}

.form_input{
    /* Input */
box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;

width: 557px;
height: 56px;

/* Other/Outlined Border

Border style for outlined variant components in resting state (Text Field, Select, Chips, etc)
*/
border: 1px solid rgba(0, 0, 0, 0.23);
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.form_input_text{
/* Shooting category */

width: 96%;
height: 100%;

/* Components/Input Text */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.15px;

/* Text/Secondary */
color: rgba(0, 0, 0, 0.6);
}

#form_input_text_big{
    height: 46%
}