
.redBlock{
    background-color:red;
    width: 100px;
}
#frame2{
    /* Frame 2 */

position: absolute;
width: 1130.5px;
height: 70.66px;
left: 0px;
top: 0px;
}
#header_section{
    /* Header Section */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 1.57015px 93.4236px;
gap: 7.85px;

position: absolute;
width: 1130.5px;
height: 70.66px;
left: 0px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 3.14029px 12.5612px rgba(0, 0, 0, 0.04);
}
#header_element{
/* Header Elements Row */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 544.06px;

width: 943.66px;
height: 50.05px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
#header_logo{
    /* Header Logo */
margin: 0 auto;
width: 76.15px;
height: 50.05px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
#header_menu_options_row{
/* Header Menu Options Row */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 14.13px;

margin: 0 auto;
width: 358.78px;
height: 18.84px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

background-color: #4CAF50;
}

#header_links{
    /* Header Links */
width: 281.84px;
height: 14.92px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

background-color: aqua;
}

#travel{
    /* Travel */
position: absolute;
width: 76.15px;
height: 28.26px;
left: 0px;
top: 21.79px;

font-family: 'Changa One';
font-style: normal;
font-weight: 400;
font-size: 26.6925px;
line-height: 28px;
/* identical to box height, or 106% */
text-align: center;

color: #8A53FF;
}

#talking{
    /* Talking */
position: absolute;
width: 42.39px;
height: 28.26px;
left: 3.14px;
top: 0px;

font-family: 'Black Signature PERSONAL USE ONLY';
font-style: italic;
font-weight: 400;
font-size: 15.7015px;
line-height: 28px;
/* identical to box height, or 180% */
text-align: center;

color: #3E3E3E;
}

.links{
    position: absolute;
    top: 10.42%;
    bottom: 10.42%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12.5612px;
    line-height: 15px;
    /* identical to box height */
    text-align: center;
    
    color: #495367;
}
#contact_us{
left: 59.58%;
right: 21.44%;
}
#gallery{
left: 41.58%;
right: 47.48%;
}
#story{
left: 21.66%;
right: 70.24%;
position: absolute;
top: 10.42%;
bottom: 10.42%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12.5612px;
line-height: 15px;
/* identical to box height */
text-align: center;

color: #495367;
}
#home{
left: 0%;
right: 90.37%;

color: #8A53FF;
}

body{
    /* Frame 3 */
position: absolute;
width: 1130.54px;
height: 1011.1px;
left: 61px;
top: 55px;

border-radius: 15.7015px;
}

.button {
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50; 
    color: white;
}

.button1 {
    background-color: green;
    font-size: 45px;
    padding:5px;
    margin: 10px;
    border-radius: 10px;
    float: right;
}

#head_separation{
/* Line 54 */
width: 18.53px;
height: 0.1px;

border: 0.785073px solid #EEEEEE;
transform: rotate(90deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
}